/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/

/* Hide some element (sometime need to add a class in some view) */

.hide,
#nav-extras-groups-li,
.numbers,
.group-create-nav,
.members-header.page-header,
.entry-title,
.home-expe .item-options{
	display:none !important;
}

/* Styling the feed (activity) */
#buddypress #item-body form#whats-new-form {
	padding-top: 0px;
}

#buddypress div#subnav.item-list-tabs{
	border-bottom: 1px solid rgba(0,0,0,0.11);
}

#buddypress #activity-stream > li:not(.load-newest):not(.load-more){
	padding:12px;
	border: solid 1px #F2F2F2;
	border-radius: 8px;
	background-color: white;
	width: 97%;
}

/*Typography*/

p,
.entry-content ul,
.entry-content li{
/*	font-family: 'EB Garamond', Garamond, Times, serif;
	font-size: 16px;
	line-height: 1.33em;
*/
}

h1.main-title,
.item-title a{
	font-family: Montserrat;
}

h1.main-title,
.widget-title{
	text-transform: uppercase;
	font-size:48px !important;
}

.home-expe .widget-title{
	font-size:36px !important;
}

/*Spacings*/
#buddypress div#item-body{
	padding-top:20px;
}

.activity-header.page-header{
	padding:0px 70px !important;
}


/* Global Style */

.entry-content a{
	text-decoration: underline;
}

#groups-stream li .item-title, #groups-list li .item-title a{
	text-decoration: none !important;
}

p {
	margin-bottom: 0.9em;
}
 /* Captcha input form */
.login form input #captcha_code.input{
	color:#444 !important;
}

input#captcha_code{
	background: rgba(0,0,0,0.15);
}

/*Background for content pages*/
.panel-grid:nth-child(even){
	background-color: transparent !important;
}

.panel-grid:first-child,
#pg-22-2{
    padding-top:0px;
}

/*Styling Group Pages*/


#primary #groups-list .item-avatar a{
    width:100px;
}

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {
	.mobil-hidden{
		display: none !important;
	}

	.site{
		min-height: initial;
	}

	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {
	.mobil-only{
		display:none; /* ceci permet de n'afficher des élements que en mode mobile, donc seulement en tablet et desktop*/
	}

	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {

	/*Styling the home page slider*/
	.bb-slider-wrapper,
	.bb-slide,
	.bb-slider-container .slide_content,
	.bb-slider-container .slide_content_wrap {
    	max-height: 300px !important;
	}

	.bb-slider-container .inner{

	}

	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */
